.services {
    padding: 0 60px 80px 60px;
}

.service {
    background-color: white;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    box-shadow: 1px -1px 1px #00000008;
    border-bottom: 10px solid #db323e;
}

.service p {
    line-height: 30px;
}
