.buy-car {
    padding: 80px 0;
}

.tab-content {
    background-color: white;
    box-shadow: 1px 1px 1px #00000008;
    border-top: unset;
    border-radius: 0 0 20px 20px;
}

.buy-car ul li button.nav-link {
    padding-right: 50px;
    padding-left: 50px;
    font-weight: 500;
    color: #707070;
    position: relative;
}

.buy-car ul li button.active::after {
    height: 6px;
    width: calc(100% + 2px);
    background-color: #d52529;
    content: '';
    position: absolute;
    bottom: 0;
    left: -1px;
}

.buy-car ul li button.active {
    font-weight: 700;
}
